{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <h3 class="mb-3">Perfil del usuario</h3>
          <a class="btn btn-sm btn-primary" href="{{ url_for('self_edit_profile') }}">Editar perfil</a>
          <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('my_audit') }}">Ver auditoría</a>

        </div>
        <dl class="row">
          <dt class="col-sm-4">Usuario</dt><dd class="col-sm-8">{{ data.nombre }}</dd>
          <dt class="col-sm-4">Correo</dt><dd class="col-sm-8">{{ data.correo }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
